#section-top ul, #section-main .social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v15/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Orbitron', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #000;
  min-height: 100%;
}

.el-button, .el-button__green {
  border: none;
  padding: 12px 22px;
  background: #7c7878cc;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b3b3b3;
}

.el-button__green {
  background: #16a085;
  color: #FFF;
}

#section-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 141px;
  padding: 40px 0;
  position: relative;
  z-index: 2;
}

#section-top ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-top ul li {
  margin: 0 35px;
}

#section-top ul li a {
  color: #ddcfc1;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

#section-top ul li a:hover {
  color: rgba(255, 210, 128, 0.829);
}

#section-top ul li.logotype {
  margin-left: 65px;
  margin-right: 65px;
}

#section-main {
  background-image: url("../images/background2.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  margin-top: -141px;
  padding-bottom: 40px;
  padding-top: 141px;
  position: relative;
  z-index: 0;
}

#section-main > * {
  position: relative;
  z-index: 1;
}

#section-main::before {
  content: "";
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#section-main .center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#section-main .center h1 {
  color: #ebebeb;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

#section-main .center h1:hover {
  color: #cfa23f;
}

#section-main .center h2 {
  color: #e4e4e4;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0;
  padding: 0;
  text-transform: lowercase;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

#section-main .center h2:hover {
  color: #e2b450;
}

#section-main .center .el-button__green {
  margin-top: 10px;
}

#section-main .social {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
}

#section-main .social ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-main .social ul li {
  margin: 0 10px;
}

#section-main .social ul li a {
  color: #e7e7e7;
  font-size: 24px;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */